/**************variables***********/
h2 {
  font-family: "Barrio", cursive;
}

h3 {
  font-family: "Barriecito", cursive;
  color: #EE5F23;
  font-size: 3rem;
  text-decoration: line-through;
}

.slider {
  background-color: #EE5F23;
  width: 100vw;
  border-top: 4px solid black;
  border-bottom: 3px solid black;
}

header {
  background-color: #EE5F23;
  width: 99%;
  border-radius: 3rem;
  position: relative;
  z-index: 2;
}
header ul li {
  font-family: "Barriecito", cursive;
  font-size: 2rem;
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: #FBD6C6;
}
header ul li a:hover {
  color: #0A1F0A;
  text-decoration: underline;
}
header .navbar {
  background-color: #EE5F23;
  margin-left: 5rem;
}
header .navbar button {
  background-color: #FBD6C6;
  position: fixed;
}
header .navbar button:hover {
  color: #0A1F0A;
  background-color: black;
  opacity: 60%;
}
header .iconos ul li {
  color: floralwhite;
  display: inline-flex;
  padding: 1rem;
  margin-right: 2rem;
}

/*********************************************general*******************************/
* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #FDE9D8;
  overflow-x: hidden;
}

/*************************************************principal**********************/
.index {
  font-family: "Barriecito", cursive;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
}
.index h1 {
  font-family: "Barrio", cursive;
  font-size: 6rem;
  color: #EE5F23;
  text-decoration: line-through white;
}
.index h2 {
  font-family: "Barrio", cursive;
}
.index h3 {
  font-family: "Barriecito", cursive;
  color: #EE5F23;
  font-size: 3rem;
  text-decoration: line-through;
  translate: -50px 100px;
}
.index video {
  position: fixed;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
.index .intro {
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
}
.index .prologo {
  margin-top: 15%;
}
.index .prologo p {
  color: #FBD6C6;
  font-size: 3rem;
}
.index .prologo p span {
  color: #EE5F23;
}
.index .news {
  background-color: #FBD6C6;
}
.index .tarjetas {
  background-color: #EE5F23;
  align-self: flex-end;
  height: 50%;
  width: 75%;
  margin-top: 10%;
  margin-right: 2rem;
  gap: 2rem;
  border: 3px solid #FBD6C6;
  border-radius: 5px;
  box-shadow: 7px 4px 2px #FBD6C6;
  opacity: 90%;
}
.index .tarjetas .noticias {
  transition: ease-in-out;
  transition-duration: 200ms;
  box-shadow: 5px 2px 2px 0 black;
}
.index .tarjetas .noticias:hover {
  translate: 0 -2rem;
}

/********************sposts********************/
.spots-main h1 {
  color: #EE5F23;
  font-size: 6rem;
}
.spots-main h4 {
  color: #EE5F23;
}
.spots-main h2 {
  color: #EE5F23;
  text-decoration: line-through;
}
.spots-main p {
  font-size: 2rem;
}
.spots-main i {
  color: #EE5F23;
}
.spots-main .bari {
  border: 5px solid #EE5F23;
  box-shadow: 6px 5px 2px 0 #FBD6C6;
  border-radius: 5px;
}
.spots-main .mendoza {
  border: 5px solid #EE5F23;
  box-shadow: 0 2px 5px 6px #FBD6C6;
  border-radius: 5px;
}
.spots-main .chile {
  border: 5px solid #EE5F23;
  box-shadow: 6px 5px 2px 0 #FBD6C6;
  border-radius: 5px;
}

/*# sourceMappingURL=estilo.css.map */
