//*******************colores***************//
$primary-color: black;
$secondary-color: #EE5F23;
$text-color: #3EB9A0;

//******************fuentes*****************//
$primary-font-family: 'Barrio', cursive;
$secondary-font-family: 'Barriecito', cursive;
$normal-font: 3rem;
$small-font: 2rem;
$large-font: 6rem;


h2 {
    font-family: $primary-font-family;
}

h3 {
    font-family: $secondary-font-family;
    color: $secondary-color;
    font-size: $normal-font;
    text-decoration: underline;
}
