//*******************colores***************//
$primary-color: black;
$secondary-color: #EE5F23;
$text-color: #3EB9A0;

//******************fuentes*****************//
$primary-font-family: 'Barrio', cursive;
$secondary-font-family: 'Barriecito', cursive;
$normal-font: 3rem;
$small-font: 2rem;
$large-font: 6rem;

