//*******************colores***************//
$primary-color: #EE5F23;
$secondary-color: #FBD6C6;
$text-color: #0A1F0A;

//******************fuentes*****************//
$primary-font-family: 'Barrio', cursive;
$secondary-font-family: 'Barriecito', cursive;
$normal-font: 3rem;
$small-font: 2rem;
$large-font: 6rem;


h2 {
    font-family: $primary-font-family;
}

h3 {
    font-family: $secondary-font-family;
    color: $primary-color;
    font-size: $normal-font;
    text-decoration: line-through;
}
