/************ header ***********/

.header {
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    h1 {
        font-family: $primary-font-family;
        font-size: $normal-font;
    }

    .menu {

        .container-fluid {

            .navbar-toggler {
                background-color: $text-color;
                transition: all ease-in .5s;
               

                &:hover {
                    background-color: $secondary-color;
                }
            }


            .collapse {
                font-family: $secondary-font-family;
                font-size: $small-font;

                ul {
                    li {
                        a {
                            color: $text-color;

                            &:hover {
                                color: $secondary-color;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }

    .iconos {

        ul {
            list-style-type: none;
            display: flex;
        }

        i {
            color: $text-color;
            transition: all ease-in-out .5s;

            &:hover {
                font-size: $normal-font;
                color: $secondary-color;
            }

        }
    }
}