header {
    background-color: $primary-color;
    width: 99%;
    border-radius: 3rem;
    position: relative;
    z-index: 2;

    ul li {
        font-family: $secondary-font-family;
        font-size: $small-font;
        list-style-type: none;

        a {
            text-decoration: none;
            color: $secondary-color;

            &:hover {
                color: $text-color;
                text-decoration: underline;
            }
        }
    }

    .navbar {
        background-color: $primary-color;
        margin-left: 5rem;

        button {
            background-color: $secondary-color;
            position: fixed;

            &:hover {
                color: $text-color;
                background-color: black;
                opacity: 60%;
            }
        }
    }

    .iconos ul li {
        color: floralwhite;
        display: inline-flex;
        padding: 1rem;
        margin-right: 2rem;
    }
}