/**************** medias quarry **************/

/**************** movil **************/

@media (max-width: 600px) {

    /********** header *********/
    header {
        .logo {
            display: none;
        }
    }

    /********** empresa *************/

    .main-nosotros {
        display: flex;
        flex-direction: column;
    }

    /********** footer *************/


}

/****************** tablet **************/

@media (min-width: 600px) and (max-width:900px) {

    
}