/**************** medias quarry **************/

@media (max-width: 600px) {

    /********** header *********/
    header {
        .logo {
            display: none;
        }
    }

    /********** spts ****************/
    .spots-main {

        img {
            display: none;
        }

        .intro-spots {

            .spots-tarjetas {

                p {
                    font-size: .9rem;
                }
            }
        }
    }

    /********** empresa *************/

    .main-nosotros {
        display: flex;
        flex-direction: column;
    }

    /********** footer *************/

    .footer {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        padding: 5;

        .legales {
            display: none;
        }

        .redes {

            li {
                display: none;
            }
        }

        .links {

            ul {
                li {
                    font-size: 1rem;
                    padding: 5;
                }
            }
        }
    }

    /************* academia ***********/
    .main-academia {
        
        .clases {
            width: 100%;
        }
    }
}