/**************variables***********/
@import "base", "estilos-generales", "variables", "medias-querry", "carrusel", "header", "video", "contacto", "accordion", "footer";


/***********************principal**********************/
.main {
        .hero {
            h1 {
                @include h1;
                animation: animate__pulse ease-in-out 1s;
            }
            h2 {
                @include h2
            }
        }
        .novedades {
            .h3x {
                background-color: $primary-color;
            h3 {
                @include h3;
                text-align: center;
                
            }
            }
            h4 {
                @include h4;
            }
            p {
                @include p;
            }
            .card {
                @include tarjetas;
            }
        }
        .h3g {
            background-color: $primary-color;
            h3 {
                @include h3;
                text-align: center;
            }
        }
}

/********************sposts********************/

.spots-main {

    .intro-spots {

        h1 {
            @include h1
        }
    }

    h4 {
        color: $primary-color;
    }

    h2 {
        @include h2
    }

    p {
        font-size: $small-font;
    }

    i {
        color: $secondary-color;
        transition: all ease-in-out .5s;

        &:hover {
            font-size: $small-font;
        }
    }

    .bari {
        border: 5px solid $primary-color;
        box-shadow: 6px 5px 2px 0 $secondary-color;
        border-radius: 5px;
    }


    .mendoza {
        border: 5px solid $primary-color;
        box-shadow: 0 2px 5px 6px $secondary-color;
        border-radius: 5px;
    }

    .chile {
        border: 5px solid $primary-color;
        box-shadow: 6px 5px 2px 0 $secondary-color;
        border-radius: 5px;
    }
}

/*********** empresa *************/

.main-nosotros {

    .titulo-somos {
        h1 {
            @include h1
        }
    }

    .historia-empresa {
        background-color: $secondary-color;

        p {
            font-weight: 500;
            margin-top: 5rem;
        }
    }

    .guias {
        h2 {
            color: $primary-color;
        }

        h4 {
            color: $primary-color;
            font-weight: 800;
        }

        img {
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            opacity: 0.5;
            -khtml-opacity: 0.5;
            transition: all ease-in .8s;

            &:hover {
                filter: alpha(opacity=100);
                -moz-opacity: 1.0;
                opacity: 1.0;
                -khtml-opacity: 1.0;
            }
        }

        .guia1 {
            border-right: 5px solid $primary-color;
        }

        .guia3 {
            border-right: 5px solid $primary-color;
        }
    }
}

/********************* academia *********************/


.intro-academia {
    background-color: white;

    h1 {
        @include h1
    }

    h2 {
        @include h2
    }
}

.prologo {

    background-color: $primary-color;
    font-size: $small-font;
    font-family: $secondary-font-family;

    p {

        span {
            color: $secondary-color;
        }
    }
}

.main-academia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "foto clases" "foto tabla";

    .foto {
        border-right: 3px solid $primary-color;
        grid-area: foto;
    }

    .clases {
        background-color: $secondary-color;
        height: 20rem;
        grid-area: clases;

        h3 {
            @include h2
        }
    }

    .tabla {
        background-color: $secondary-color;
        grid-area: tabla;
    }
}