/**************variables***********/
@import "estilos-generales", "carrusel", "header";


/*********************************************general*******************************/
* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: whitesmoke;
    overflow-x: hidden;
}


/*************************************************principal**********************/
.index {
    font-family: $secondary-font-family;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;

    h1 {
        font-family: $primary-font-family;
        font-size: $large-font;
        color: $primary-color;
        text-decoration: line-through white;
    }

    h2 {
        font-family: $primary-font-family;
    }

    h3 {
        font-family: $secondary-font-family;
        color: $primary-color;
        font-size: $normal-font;
        text-decoration: line-through;
        translate: -50px 100px;
    }

    video {
        position: fixed;
        z-index: -1;
        right: 0;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .intro {
        font-size: $normal-font;
        text-align: center;
        margin-top: 10%;
    }

    .prologo {
        margin-top: 15%;

        p {
            color: $secondary-color ;
            font-size: $normal-font;

            span {
                color: $primary-color;
            }
        }
    }

    .news {
        background-color: $secondary-color;
    }

    .tarjetas {
        background-color: $primary-color;
        align-self: flex-end;
        height: 50%;
        width: 75%;
        margin-top: 10%;
        margin-right: 2rem;
        gap: 2rem;
        border: 3px solid $secondary-color;
        border-radius: 5px;
        box-shadow: 7px 4px 2px $secondary-color;

        opacity: 90%;

        .noticias {
            transition: ease-in-out;
            transition-duration: 200ms;
            box-shadow: 5px 2px 2px 0 black;

            &:hover {
                translate: 0 -2rem;
            }
        }
    }
}

/********************sposts********************/

.spots-main {

    h1 {
        color: $primary-color;
        font-size: $large-font;
    }

    h4 {
        color: $primary-color;
    }

    h2 {
        color: $primary-color;
        text-decoration: line-through;

    }

    p {
        font-size: $small-font;
    }

    i {
        color: $primary-color;
    }

    .bari {
        border: 5px solid $primary-color;
        box-shadow: 6px 5px 2px 0 $secondary-color;
        border-radius: 5px;
    }

    .mendoza {
        border: 5px solid $primary-color;
        box-shadow: 0 2px 5px 6px $secondary-color;
        border-radius: 5px;
    }

    .chile {
        border: 5px solid $primary-color;
        box-shadow: 6px 5px 2px 0 $secondary-color;
        border-radius: 5px;
    }
}